<div class="items-container">
  <div class="items-row">

      <% items.forEach((item) => { %>
        <ul>
       <a href="items/<%= item.id %>">
        <li class="item-card">
        <img
          class="item-card-thumbnail"
          src="<%=  item.photo_url %>"
          alt="Item thumbnail"
        />
        <div class="card-body">
          <div class="card-price">$<%= item.price /100 %></div>
          <div class="card-title-container">
            <h5 class="card-title"><%= item.title %></h5>
            <% if (!userId) { %>
            <!-- <%=  %>(item.favorite_id || item.is_favorite) ? ` -->
            <!-- <form class="unFavorite-form" id="<%= item.favorite_id %>">
                <button class="unfavorite-form-button" type="submit"><i class="fa-solid fa-star unfavorite-icon"></i></button>
              </form> -->
            <!-- ` : ` -->
            <!-- <form class="favorite-form" id="<%=  item.item_id %>">
                <button class="favorite-form-button" type="submit"><i class="fa-solid fa-star favorite-icon"></i></button>
              </form> -->
            <!-- `} -->
            <% }; %>
          </div>
        </div>
      </li>
      </ul>
    </a>
      <% }); %>
    </div>
</div>
