<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item listing</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/item-listing.css" type="text/css">
  <link rel="stylesheet" href="/styles/is-sold-banner.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!--------bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<!-- background is applied from main.css temporary to be able to see the containers</br>
item.description needs to be added to database with updated seeds file -->
<body>
  <main class="container">
    <div class="item">
      <figure class="item-photo">
        <img src="<%= item.photo_url %>" alt="<%= item.title %>">
      </figure>
    </div>
    <div class="item">
      <section class="item-details">
        <h2><%= item.title %></h2>
        <div id="soldBanner" class="banner">AVAILABLE</div>
        <p><%= item.description %></p>
        Posted At: <span id="createdAt"></span>

        <<a href="mailto:<%= userEmail %>?subject=%5BSomeone%20is%20intrested%20in%20one%20of%20Your%20<%= item.title %>!%5D&body=Hi%2C%0D%0A%0D%0ASomeone%20has%20expressed%20that%20they%20are%20interested%20in%20the%20following%20item%3A%20localhost%3A8080%2Fapi%2Fitems%2F%3C%25%3D%20itemId%20%25%3E%0D%0A%0D%0AThank%20you%2C%0D%0A%0D%0ABargain%20Bazaar%20Team" target="_blank" class="btn btn-primary">Contact Seller</a>

      </section>
      <section class="sellerInfo">

      </section>
    </div>
  </main>

  <script>
    $(document).ready(function() {
  var isSold = <%= item.is_sold %>;

  if (isSold) {
    $("#soldBanner").text("SOLD").removeClass("available");
  } else {
    $("#soldBanner").text("AVAILABLE").addClass("available");
  }
});

function formatCreatedAt(dateString) {
    const options = { year: 'numeric', month: 'long', day: 'numeric'};
    return new Date(dateString).toLocaleDateString(undefined, options);
  }

  $(document).ready(function() {
    const createdAt = '<%= item.created_at %>';
    const formattedDate = formatCreatedAt(createdAt);
    $("#createdAt").text(formattedDate);
  });
  </script>
</body>

</html>
